<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,400italic,600italic,300,300italic">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about.html">About</a></li>
		        	<!--li><a href="/projects.html">Projects</a></li-->
	        		<li><a href="/cv.pdf">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			<img style="float: right;" src="/images/mypic_cropped.jpg" width="20%" hspace="20"></img>
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kundankumar2510@gmail.com">email</a></li>
	        		<li><a href="https://github.com/kundan2510">github.com/kundan2510</a></li>
				</ul>
			</footer>
		</body>
	</html>
